.bullet {
  margin-left: 2.5rem /* 40px */;
  padding-top: 1.25rem /* 20px */;
  list-style-type: disc;
  padding-bottom: 1.25rem /* 20px */;
}

.number {
  list-style-type: decimal;
}

.link {
  color: inherit;
}

.yt_player {
  margin-top: 30px;
  margin-bottom: 30px;
}

.code {
  background: rgba(229, 255, 0, 0.206);
  border-radius: 20px;
  padding: 1px;
}
