.code_block__container {
  border-width: 1px;
  // border: 1px solid #e2e8f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.355);
  background-color: rgba(34, 34, 34, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.25rem 0.75rem 0.75rem 0.75rem;

  &.dark {
    background: rgba(255, 255, 255, 0.028);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
  }
}
.header,
.header_container {
  display: flex;
}
.header_container {
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 0.25rem /* 4px */;
}

.filename,
.lang {
  opacity: 0.7;
  // border: red solid 1px;
}

.lang {
  padding-right: 1rem /* 16px */;
}

.code_container {
  // background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  //   background-color: rgba(49, 130, 206, 0.25);
  max-height: 36rem;
  //    max-height: 46rem; //sm
  border-radius: 0.75rem;
  overflow-y: scroll;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  &::-webkit-scrollbar {
    display: none;
  }
}

.pre {
  background-color: transparent !important;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  font-family: monospace;
}

.line {
  background: #fef3c8;
  &.dark {
    background: #27261c;
  }
}

.copy_btn {
  width: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border: none;
  &:hover {
    background: transparent;
    transform: scale(1.09) rotate(12deg);
  }
}

.header {
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.filename {
  position: relative;
  top: 10px;
  margin-left: 5px;
}

.icon {
  &.dark {
    color: white;
  }
}
